<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>This is a sandwich order for <strong><%= @user.email %></strong></p>
    <p>They would like a <strong><%= @sandwich.name %></strong> sandwich</p>
    <p>The deets: <%= @sandwich.description %></p>
    <p>Get on it!</p>
    <hr>
    <div id="quote-body"><%= @quote.body %></div>
    <div id="quote-author"><%= @quote.author %></div>
  </body>
</html>