<div class="navbar">
  <div class="navbar-inner">
    <%= link_to "make_sandwich", root_path, class: "brand" %>


      <ul class="nav pull-left">
        <li><%= link_to "all the quotes", quotes_path %>
        <li class="divider-vertical"></li>
        <li><%= link_to "all the sandwiches", sandwiches_path %>
        <li class="divider-vertical"></li>
        <% if user_signed_in? %>
          <li><a href="#new-sandwich" role="button" data-toggle="modal">add a sandwich</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#new-quote" role="button" data-toggle="modal">add a quote</a></li>
        <% end %>
      </ul>

    <ul class="nav pull-right">
      <% if user_signed_in? %>
        <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "sign in", new_user_session_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>